body {
    background-color: #004980;
    padding: 0;
    margin: 0;
    font-family: 'StratosSkyeng';
}
.difficulty {
    display: flex;
    justify-content: center;
    height: 774px;
    align-items: center;
}
.difficulty_choice {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #C2F5FF;
    width: 480px;
    height: 459px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.difficulty_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    width: 208px;
    height: 50px    ;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}
.difficulty_btns {
    display: flex;
    gap: 24px;
}
.difficulty_btn {
display: none;
}
.difficulty_btn-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 98px;
    font-family: 'StratosSkyeng';
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
    box-sizing: border-box;
    border: black solid 1px;
    border-radius: 50px;
}
.start_btn {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    background: #7AC100;
    border: 0;
    border-radius: 12px;
    width: 246px;
    justify-content: center;
}
@font-face {
    font-family: 'StratosSkyeng';
    src: url("../fonts/stratosskyeng-regular.otf") format("truetype");
}